.header-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: rgba(196, 196, 196, 1) solid 1px;
    color: white;
}

.sensor-header{
    font-size: 42px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
}

.containers-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 75px;
}

.sensor-container {
    background-color: #83A895;
    width: 70%;
    height: 250px;
    margin-left: 75px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;

}

.text-container {
    width: 70%;
    height: 100%;
}

.green-container {
    background-color: #66927B;
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0px;
    width: 30%;
    height: 100%;
}

.green-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.humidity, 
.temp, 
.pressure {
    font-size: 18px;
    font-weight: bold;
    
    margin-left: 25px;
}

.sensor-name {
    margin-left: 80px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
}

.AQI-info {
    margin-left: 80px;
    display: flex;
    font-size: 24px;
}

.air-quality, .arr, .air-quality-status {
    font-size: 3rem;
    font-weight: 700;
}

.air-quality {
    margin-left: 10px;
}

.message {
    margin-left: 80px;
    margin-right: 40px;
    margin-top: 10px;
}